<button mat-raised-button color="primary" (click)="init()" *ngIf="gameService.connectState == 0">Connect</button>
<mat-progress-bar mode="indeterminate" *ngIf="gameService.connectState == 1"></mat-progress-bar>
<div id="content" *ngIf="gameService.connectState == 2">
  <div id="qrcode" [class.hidden]="gameService.cameraUUID">
    <qrcode [qrdata]="url + '/' + gameService.uuid" [width]="200" elementType="svg"></qrcode>
    <span class="material-icons">
      linked_camera
    </span>
  </div>
  <button id="camera-button" mat-raised-button color="primary" [disabled]="!gameService.cameraUUID"
          (click)="openCameraConfig()">Camera config</button>
  <div id="streams">
  </div>
  <button id="link-button" mat-stroked-button (click)="copyUrlToClipboard()">
    {{url}}
    <span class="material-icons">
      content_paste
    </span>
  </button>
  <div class="dice" (click)="roll()">
    <div class="die-list even-roll" [class.even-roll]="dieThrows % 2 + 1" [class.odd-roll]="dieThrows % 2"
         [attr.data-roll]="dieValue" (transitionend)="transitionEnd()" id="die-1">
      <div class="die-item" data-side="1">
        <span class="dot"></span>
      </div>
      <div class="die-item" data-side="2">
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
      <div class="die-item" data-side="3">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
      <div class="die-item" data-side="4">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
      <div class="die-item" data-side="5">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
      <div class="die-item" data-side="6">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
    </div>
  </div>
</div>
