:host {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

:host mat-icon {
  color: #aaaaaa;
}

.mat-dialog-title {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
}

.mat-dialog-title h2 {
  margin: 0;
}

mat-dialog-content {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: start;
  max-height: none;
}

#stream {
  position: relative;
  height: 100%;
  overflow: hidden;
  cursor: copy;
}

#stream img {
  height: 100%;
}

#stream canvas, #stream video {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#streams .stream {
  width: 100%;
  height: 100%;
}

#colors {
  display: grid;
  grid-template-columns: auto 1fr auto;
  row-gap: 10px;
  margin-left: 10px;
}

#colors .color-preview {
  padding: 10px;
  border: solid 1px #ccc;
  border-radius: 10px 0 0 10px;
}

#colors .color-preview div {
  width: 25px;
  height: 25px;
  background-color: red;
  border-radius: 5px;
}

#colors .color-text {
  display: flex;
  align-items: center;
  border: solid #ccc;
  border-width: 1px 1px 1px 0;
  padding-left: 10px;
  border-radius: 0 10px 10px 0;
}

#colors button {
  align-self: center;
  margin-left: 10px;
  color: #aaaaaa;
}
