:host {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

#settings {
  padding: 20px 20px 0;
}

#camera_select {
  width: 100%;
}

#preview {
  flex-grow: 1;
  overflow: hidden;
  text-align: center;
}

#preview canvas {
  max-width: 100%;
  max-height: 100%;
}
